html, body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80");
    background-size: cover;
}

header {
    text-align: center;
}

#img {
    width: 200px;
    height: 200px;
    background-image: url("../img/foto_carnet_alba.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(5,5,38,0.1);
    margin-left: 20px;

}

main > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main > div:first-child > div:last-child {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2 {
    width: 100%;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 30px;
}

section{
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(5,5,38,0.1);
}

span, section i {
    font-size: smaller;
    color: gray;
}

footer {
    margin-bottom: 20px;
}


a, a:link, a:focus, a:active {
    text-decoration: none;
    color: black;
}

i {
    transition: all 1s cubic-bezier(.26,.69,.99,.38);
    cursor: pointer;
}

i:hover {
    transform: scale(2);
}